
<button (click)="editAlbumClicked()"><h4>Edit Album</h4></button>
<br>
<div *ngIf='editAlbum'>
<label>New Album Title:</label>
<input [(ngModel)]="selectedAlbum.title">
<br>

<label>New Album Artist:</label>
<input [(ngModel)]="selectedAlbum.artist">
<br>

<label>New Album Description:</label>
<input [(ngModel)]="selectedAlbum.description">

<button (click)="beginUpdatingAlbum(selectedAlbum)">Update</button>
</div>
<hr>
<button (click)="beginDeletingAlbum(selectedAlbum)"><h4>Delete Album</h4></button>
